
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Bilgi</button>
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Bilgi</h2>
            </div>
            <form>
                <div class="modal-body">
                    Bu Proje Burak Esenoğlu tarafından 17.12.2020 tarihinde yapılmıştır.
                </div>
            </form>
        </div>
    </div>
</div>

