@model StokOtomasyonu.Models.TBLSATISLAR

@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Satis Yap</button>
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satis Yapma Ekrani</h2>
            </div>
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">

                    <label>Urun ID</label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Musteri ID
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Urun Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Urun Fıyat
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-info" type="submit">Satis Yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>
